.Termsandconditions-mainwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    max-width: $maxwidth;
    font-size: 162.5%;
}


.Termsandconditions-mainwrapper-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 980px;
    padding: 0px 25px;
    overflow: hidden;
    background-color: white;
}

.Termsandconditions-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
    max-width:900px;
}